@font-face {
    font-family:"buchananoutital";
    src: url("font/Buchanan-Rotalic/buchananoutital.ttf") format("truetype");
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #4cd9c6;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #6fe8d7;
}

body {
    background-image: url(GYM.jpg);
    background-size: contain;
    margin: 0px 20px;
}
header{
    height: 245px;
    text-align: center;
    
}

nav{
    height: 25px;
    background-color: rgb(58, 60, 60);
    text-align: center;
    border-radius: 15px;
    margin: 0px 25%;
    padding-top:12.5px;
    padding-bottom: 10px;
}
nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin: 0px 40px;
    text-align: center;
}

main{
    height: 500px;
    /* background-color: rgb(205, 101, 101); */
    color: azure;
    text-align: center;
}
#image-right {
    position: absolute;
    top: 250px;
    right: 0;
    height: 425px;
    width: 438px;

}
#image-left {
    position: absolute;
    top: 250px;
    left: 0;
    height: 425px;
    width: 438px;

}

main p  {
    color: #E5E5E5;
    font-size: 25px;
    margin: 0px 435px;
    text-align: center;
}


main h1 {
    font-family: "buchananoutital";
    letter-spacing: 5px;
    font-size: 100px;
    text-align: center;
    padding-top: 125px;
    margin: 0px;
}

main a {
    color: #E5E5E5;
    font-size: 25px;
    text-align: center;
}
main h2 {
    color: #B3AEB2;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 25px;
    margin: 0px 25px;
    text-align: center;
}
section{
    height: 405px;
}

footer{
    height: 500px;
    text-align: center;
    background-color: #fff;
}
footer p {
    color: azure;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 50px;
}
